@CHARSET "UTF-8";

.top {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	font-size: xx-large;
	line-height: 60px;
	padding: 0px 20% 0px 20%;
	background-color: #22335f;
	color: white;
}

.center {
	position: fixed;
	top: 60px;
	bottom: 50px;
	left: 0px;
	right: 0px;
	padding: 0px 20% 0px 20%;
	overflow: auto;
}

.bottom {
	height: 50px;
	line-height: 50px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px 20% 0px 20%;
	background-color: #22335f;
	color: white;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 16px 0 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.875em;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 16px 0 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
	resize: none;
	font-family: sans-serif;
	font-size: 0.875em;
}

input[type=submit] {
    width: 100%;
    background-color: #729fcf;
    color: white;
    padding: 14px 20px;
    margin: 16px 0 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3465a4;
}

label {
	font-weight: bold;
}

.status-block {
	color: #cc0000;
	display: inline-block;
	width: 100%;
	text-align: right;
	margin-bottom: 8px;
}

.form-bg {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

table {
	width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px 0;
}

thead, tbody {
	display: table-row-group;
}

th, td {
	border-bottom: 1px solid #d3e2e4;
    padding: 15px;
    text-align: left;
}

th {
	background-color: #d3e2e4;
}

tr:nth-child(even) {
	background-color: #d3e2e4;
}

html {
	font-family: sans-serif;
}