@CHARSET "UTF-8";

.top {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	line-height: 60px;
	padding: 0px 15% 0px 15%;
	background-color: #1e1b1b;
	color:white;
}

.center {
	position: fixed;
	top: 60px;
	bottom: 50px;
	left: 0px;
	right: 0px;
	padding: 0px 15% 0px 15%;
	overflow: auto;
}

.bottom {
	height: 50px;
	line-height: 50px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px 15% 0px 15%;
	background-color: #1e1b1b;
	color:white;
}

.branding {
	font-size: x-large;
}

.menu-entry {
	text-decoration: none;
	color: #ddd;
	padding: 10px 30px;
}

.menu-entry:hover {
	color: white;
}

input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
	resize: none;
	font-family: sans-serif;
}

.btn {
    width: 200px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-sm {
    width: auto;
    color: white;
    padding: 3px 7px;
    margin: 0px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger {
	background-color: #cc0000;
}

.btn-danger:hover {
	background-color: #a40000;
}

.btn-success {
	background-color: #4CAF50;
}

.btn-success:hover {
    background-color: #45a049;
}

label {
	font-weight: bold;
}

.status-block {
	color: #cc0000;
	display: inline-block;
	width: 100%;
	text-align: right;
	margin-bottom: 8px;
}

.form-bg {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

table {
	width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px 0;
    font-size: 0.875em;
}

thead, tbody {
	display: table-row-group;
}

th, td {
	border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
	background-color: #4CAF50;
    color: white
}

tr:nth-child(even) {
	background-color: #eee;
}

.fixedwidth-330 {
	width: 330px;
}

html {
	font-family: sans-serif;
}